@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Roboto:wght@100&display=swap');
:root
{
    --vh: 1vh;
    --vw: 1vw;
}
html
{
    scroll-behavior: smooth;
    width: 100vw;
    width: calc(var(--vw)*100);
}
.MainContent
{
    opacity: 0;
    transition: .5s;
}
.MainContent.active
{
    opacity: 1;
}
.cmd_container
{
    position: absolute;
    left:5vw;
    left:calc(var(--vw)*5);
    top:5vh;
    top:calc(var(--vh)*5);
    margin: auto;
    background-color: #0c0c0c;
    font-family: Consolas, 'Fira Mono';
    font-size: 2vh;
    font-size: calc(var(--vh)*2);
    width: 90vw;
    width: calc(var(--vw)*90);
    height: 90vh;
    height: calc(var(--vh)*90);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
    color: #63de00;
    opacity: 1;
    transition: 0.4s;
}

.cmd_container.fade
{
    background-color: #0c0c0c;
    font-family: Consolas, 'Fira Mono';
    width: 90vw;
    width: calc(var(--vw)*90);
    height: 90vh;
    height: calc(var(--vh)*90);
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
    color: #63de00;
    opacity: 0;
}
.title
{
    margin-left: 5vw;
    margin-left: calc(var(--vw)*5);
    margin-top: 0;
    background-image: linear-gradient(to right, #5d77ff, #01ecff, #e800e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    font-size: 6vh;
    font-size: calc(var(--vh)*6);
}
.title2
{
    margin-left: 5vw;
    margin-left: calc(var(--vw)*5);
    background-image: linear-gradient(to right, #00ff87, #00ff87, #60efff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    font-weight: bold;
    font-size: 8vh;
    font-size: calc(var(--vh)*8);
}
.subhead
{
    margin: 1vw;
    margin: var(--vw);
    font-size: 7vh;
    font-size: calc(var(--vh)*7);
    font-family: "Dosis", sans-serif;
    color:#00bfb3;
    font-weight: bold;
    text-align: center;
    line-height: 5vh;
    line-height: calc(var(--vh)*5);
}
.subhead_subtitle
{
    text-align: center;
}
.subhead_subtitle span
{
    position: relative;
    margin: 0;
    font-size: 5vh;
    font-size: calc(var(--vh)*5);
    font-family: "Dosis", sans-serif;
    color:#00ff87;
    font-weight: bold;
    display: inline-block;
}
.subhead_subtitle span::after,
.subhead_subtitle span::before
{
    position: absolute;
    content: "";
    height: 0.5vh;
    height: calc(var(--vh)/2);
    top:0;
    width:10vw;
    width: calc(var(--vw)*10);
    background-color: #b15dff;
    border-radius: 10px;
}
.subhead_subtitle span::after
{
    right:100%;
    margin-right: 15%;
}
.subhead_subtitle span::before
{
    left:100%;
    margin-left: 15%;
}
.text
{
    margin-left: 5vw;
    margin-left: calc(var(--vw)*5);
    margin-right: 5vw;
    margin-right: calc(var(--vw)*5);
    color: #f0b5ff;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 3vh;
    font-size: calc(var(--vh)*3);
    text-align:justify;
}
.slidetitletext
{
    margin-left: 5vw;
    margin-left: calc(var(--vw)*5);
    position: absolute;
    left:0;
    opacity: 0;
    transition: 1.5s;
    padding: 5%;
    padding-left: 0;
}
.slidetitletext.active
{
    opacity: 1;
}
.slidetitle
{
    top:16vh;
    top:calc(var(--vh)*16);
    position: absolute;
    margin: 0;
    width:110vw;
    width: calc(var(--vw)*110);
    /* height: 20vw;
    height: calc(var(--vw)*20); */
    height: fit-content;
    left:-110vw;
    left:calc(var(--vw)*-110);
    transition: 1s;
    background-color: #121212;
}
.slidetitle.active
{
    left:0;
}
.StopScroll
{
    height: 100%;
    overflow: hidden;
}
.mainmaincontent
{
    opacity: 0;
    transition: 1s;
}

.mainmaincontent.active
{
    opacity: 1;
}
.navbar
{
    z-index: 10;
    position: fixed;
    top:0;
    width:50vh;
    width: calc(var(--vh)*50);
    height: 10vh;
    height: calc(var(--vh)*10);
    background-image: linear-gradient(to right, #00FFDD, #2FA4FF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}
.navbarbg
{   
    z-index: 10;
    position: fixed;
    top:0;
    width:52vh;
    width: calc(var(--vh)*52);
    height: 16vh;
    height: calc(var(--vh)*16);
    background-color: #171717;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.navbar ul
{
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    clear:left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding: 0;
}
.navbar ul li
{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    list-style: none;
    width: auto;
    display: block;
    height: 100%;
    z-index: 1;
}
.navbar ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    text-align: center;
    border:0;
}
.navbar ul li a.active.focus,
.navbar ul li a.active:focus,
.navbar ul li a.focus, 
.navbar ul li a:active.focus, 
.navbar ul li a:active:focus, 
.navbar ul li a:focus 
{
  outline: none;
  box-shadow: none;    
}
.navbar ul li a .navicon
{
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
    display: block;
    line-height: 5vh;
    line-height: calc(var(--vh)*5);
    font-size: 5vh;
    font-size: calc(var(--vh)*5);
    padding: 2.5vh;
    padding: calc(var(--vh)*2.5);
    transition: 0.5s;
    color: #171717;
}
.navbar ul li.active a .navicon
{
    transform: translateY(5vh);
    transform: translateY(calc(var(--vh)*5));
}
.navbar ul li a .navtext
{
    position: absolute;
    color: #171717;
    font-weight: 400;
    font-size: 2.5vh;
    font-size: calc(var(--vh)*2.5);
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-5vh);
    transform: translateY(calc(var(--vh)*-5));
}
.navbar ul li.active a .navtext
{
    opacity: 1;
    transform: translateY(-3.75vh);
    transform: translateY(calc(var(--vh)*-3.75));
}
.navindicator
{
    position: absolute;
    width: 10vh;
    width: calc(var(--vh)*10);
    height: 10vh;
    height: calc(var(--vh)*10);
    background-color: #b15dff;
    top:4vh;
    top: calc(var(--vh)*4);
    border-radius: 50%;
    border: 1vh solid #171717;
    border: var(--vh) solid #171717;
    transition: 0.5s;
}
.navbar ul li:nth-child(1).active ~ .navindicator
{
    /* 10vh * n - 1vh */
    transform: translateX(-1vh);
    transform: translateX(calc(var(--vh)*-1));
}
.navbar ul li:nth-child(2).active ~ .navindicator
{
    transform: translateX(9vh);
    transform: translateX(calc(var(--vh)*9));
}
.navbar ul li:nth-child(3).active ~ .navindicator
{
    transform: translateX(19vh);
    transform: translateX(calc(var(--vh)*19));
}
.navbar ul li:nth-child(4).active ~ .navindicator
{
    transform: translateX(29vh);
    transform: translateX(calc(var(--vh)*29));
}
.navbar ul li:nth-child(5).active ~ .navindicator
{
    transform: translateX(39vh);
    transform: translateX(calc(var(--vh)*39));
}
.SkillContainer
{
    position: relative;
    display: inline-block;
    margin-left: 5vw;
    margin-left: calc(var(--vw)*5);
    padding: 0;
}
.Skill
{
    position: relative;
    min-width: 90vw;
    min-width: calc(var(--vw)*90);
    margin-left:0;
    margin-top:2vh;
    margin-top: calc(var(--vh)*2);
    margin-bottom:2vh;
    margin-bottom: calc(var(--vh)*2);
    padding: 1vh;
    padding: var(--vh);
    padding-left: 0;
    padding-right: 0;
    content: "";
    height: 5vh;
    height: calc(var(--vh)*5);
    background-color:transparent;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
}
.Skillbox1, .Skillbox2, .Skillbox3
{
    position: absolute;
    height: 5vh;
    height: calc(var(--vh)*5);
    width: 0;
    transition: 1s;
}
.Skillbox1
{
    background-color:#60efff;
}
.Skillbox2
{
    background-color:#b15dff;
}
.Skillbox3
{
    background-color:#00ff87;
}
.SkillName
{
    position: relative;
    min-width: 90vw;
    min-width: calc(var(--vw)*90);
    margin-top:auto;
    margin-bottom:auto;
    font-size: 3vh;
    font-size: calc(var(--vh)*3);
    font-family: "Dosis", sans-serif;
    color:#b15dff;
}
.Work
{
    z-index: -1;
    display: block;
    font-size: 5vh;
    font-size: calc(var(--vh)*5);
    padding: 0;
    min-width: 40vh;
    min-width: calc(var(--vh)*40);
    min-height: 40vh;
    min-height: calc(var(--vh)*40);
    aspect-ratio: 1;
    transition: all .3s;
    color:transparent;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    background-color: #0c0c0c;
    transform-origin: center bottom;
}
.Work.focus,
.Work.active:focus,
.Work.focus, 
.Work:active.focus, 
.Work:active:focus, 
.Work:focus 
{
  outline: none;
  box-shadow: none;    
}
.Work:before
{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border-top: azure 1px solid;
    border-bottom: azure 1px solid;
    border-left: 0;
    border-right: 0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}
.Work:after
{
    position: absolute;
    border: 0;
    content: "";
    width: 0;
    height: 100%;
    background-color: #0c0c0c8a;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.Work:hover
{
    color:rgb(255, 255, 255);
}
.Work:hover:after
{
    width: 100%;
}
.Work:hover:before
{
    width: 100%;
}
.Work.click:after
{
    width: 0;
}
.Work.click:before
{
    width: 0;
}
.Work span
{
    display: flex;
    font-style: normal;
    position: absolute;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 100%;
    padding: 0;
    z-index: 10;
}
.initripple
{
    position: absolute;
    border-radius: 50%;
    width: 100vw;
    width: calc(var(--vw)*100);
    height: 100vw;
    height: calc(var(--vw)*100);
    left:50vw;
    left: calc(var(--vw)*50);
    top:50vh;
    top: calc(var(--vh)*50);
    /* margin-top: -50px;
    margin-left: -50px; */
    z-index:20;
    background-color: #b15dff;
    animation: initripple 1s forwards;
    /* transform-origin: center center; */
}
@keyframes initripple 
{
    0%
    {
        transform: translate(-50%, -50%) scale(3) rotateY(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) scale(0) rotateY(0deg);
    }
}
.ripple
{
    position: absolute;
    border-radius: 50%;
    width: 100vw;
    width: calc(var(--vw)*100);
    height: 100vw;
    height: calc(var(--vw)*100);
    margin-top: -50px;
    margin-left: -50px;
    z-index:20;
    background-color: #b15dff;
    animation: ripple 1s forwards;
    /* transform-origin: center center; */
}
@keyframes ripple 
{
    0%
    {
        transform: translate(-50%, -50%) scale(0) rotateY(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) scale(3) rotateY(0deg);
    }
}

.WorkContainer
{
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 0;
    perspective: 600px;
}

.ContactMeContainer
{
    display: flex;
    height: 45vh;
    height: calc(var(--vh)*45);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap:5%;
}

form
{
    background-color: blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding: 2vh;
    padding: calc(var(--vh)*2);
    height: 100%;
    margin-right: 0;
}

form input, textarea
{
    background-color: #0c0c0c;
    border-radius: 10px;
    min-height: 10%;
    border: 0;
    color:#01ecff;
    outline:none;
    padding: 1vh;
    padding: var(--vh);
    font-size: 16px;
}

form label
{
    background-image: linear-gradient(to right, #01ecff, #00ff87);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 20px;
}

form button
{
    background-color: #171717;
    border-radius: 10px;
    min-height: 15%;
    border: 0;
    color:#00ff87;
    outline:none;
    padding: 1vh;
    padding: var(--vh);
    font-size: 20px;
    width: fit-content;
    transition: .3s;
}

.left
{
    margin-right: auto;
    margin-left: 0;
}

.right
{
    margin-right: 0;
    margin-left: auto;
}

.middle
{
    margin-right: auto;
    margin-left: auto;
}

.ContactDetails
{
    background-color: #0c0c0c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding: 2vh;
    padding: calc(var(--vh)*2);
    height: 100%;
    color:#01ecff;
    font-size: 24px;
    justify-content: center;
    word-wrap: break-word;
}

.ContactDetails i
{
    font-size: 50px;
}

textarea
{
    resize: vertical;
}